*.log
*.bz2
*.gz
*.o
*.so
*.so.*
*.png
*.pdf
*.jpg
*.jpeg
*.pyc
*~
*.pickle
moose.py.*
py/data/*
gen/Cinfolist.txt
gen/Vm_gen.plot
gen/Vm_gen_gen.plot
gen/Vm_mus.plot
gen/cata.txt
gen/funcvec.txt
gen/test_cat_a.g
gen/ya
gen/yb
ncgen/Cinfolist.txt
ncgen/L23PyrRS.p
ncgen/out
ncgen/out.txt
ncgen/README
ncgen/TCR.p
ncgen/TraubEtAl05.g
ncgen/ar.g
ncgen/cad.g
ncgen/cal.g
ncgen/cat.g
ncgen/compartments.g
ncgen/funcvec.txt
ncgen/k2.g
ncgen/ka.g
ncgen/kahp_slower.g
ncgen/kc.g
ncgen/kdr.g
ncgen/km.g
ncgen/nCtools.g
ncgen/naf_tcr.g
ncgen/napf_tcr.g
ncgen/pas.g
ncgen/runsim.sh
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/deepLTS_v_F.dat
nrn/dat/deepaxax_v_F.dat
nrn/dat/deepbask_v_F.dat
nrn/dat/nRT_v_F.dat
nrn/dat/nointeraction.spk
nrn/dat/nontuftRS_v_F.dat
nrn/dat/nrntest.spk
nrn/dat/p2ctest.spk
nrn/dat/spinstell.dat
nrn/dat/spinstell_v_F.dat
nrn/dat/supLTS_v_F.dat
nrn/dat/supaxax_v_F.dat
nrn/dat/supbask_v_F.dat
nrn/dat/suppyrFRB_v_F.dat
nrn/dat/suppyrRS_v_F.dat
nrn/dat/tuftIB_v_F.dat
nrn/dat/tuftRS_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/dat/TCR_v_F.dat
nrn/mod/x86_64/.libs/alphasyndiffeq.o
nrn/mod/x86_64/.libs/alphasynkin.o
nrn/mod/x86_64/.libs/alphasynkint.o
nrn/mod/x86_64/.libs/ampa.o
nrn/mod/x86_64/.libs/ar.o
nrn/mod/x86_64/.libs/cad.o
nrn/mod/x86_64/.libs/cal.o
nrn/mod/x86_64/.libs/cat.o
nrn/mod/x86_64/.libs/cat_a.o
nrn/mod/x86_64/.libs/gabaa.o
nrn/mod/x86_64/.libs/ggap.o
nrn/mod/x86_64/.libs/iclamp_const.o
nrn/mod/x86_64/.libs/k2.o
nrn/mod/x86_64/.libs/ka.o
nrn/mod/x86_64/.libs/ka_ib.o
nrn/mod/x86_64/.libs/kahp.o
nrn/mod/x86_64/.libs/kahp_deeppyr.o
nrn/mod/x86_64/.libs/kahp_slower.o
nrn/mod/x86_64/.libs/kc.o
nrn/mod/x86_64/.libs/kc_fast.o
nrn/mod/x86_64/.libs/kdr.o
nrn/mod/x86_64/.libs/kdr_fs.o
nrn/mod/x86_64/.libs/km.o
nrn/mod/x86_64/.libs/naf.o
nrn/mod/x86_64/.libs/naf2.o
nrn/mod/x86_64/.libs/naf_tcr.o
nrn/mod/x86_64/.libs/nap.o
nrn/mod/x86_64/.libs/napf.o
nrn/mod/x86_64/.libs/napf_spinstell.o
nrn/mod/x86_64/.libs/napf_tcr.o
nrn/mod/x86_64/.libs/par_ggap.o
nrn/mod/x86_64/.libs/pulsesyn.o
nrn/mod/x86_64/.libs/rampsyn.o
nrn/mod/x86_64/.libs/rand.o
nrn/mod/x86_64/alphasyndiffeq.c
nrn/mod/x86_64/alphasyndiffeq.lo
nrn/mod/x86_64/alphasyndiffeq.mod
nrn/mod/x86_64/alphasynkin.c
nrn/mod/x86_64/alphasynkin.lo
nrn/mod/x86_64/alphasynkin.mod
nrn/mod/x86_64/alphasynkint.c
nrn/mod/x86_64/alphasynkint.lo
nrn/mod/x86_64/alphasynkint.mod
nrn/mod/x86_64/ampa.c
nrn/mod/x86_64/ampa.lo
nrn/mod/x86_64/ampa.mod
nrn/mod/x86_64/ar.c
nrn/mod/x86_64/ar.lo
nrn/mod/x86_64/ar.mod
nrn/mod/x86_64/cad.c
nrn/mod/x86_64/cad.lo
nrn/mod/x86_64/cad.mod
nrn/mod/x86_64/cal.c
nrn/mod/x86_64/cal.lo
nrn/mod/x86_64/cal.mod
nrn/mod/x86_64/cat.c
nrn/mod/x86_64/cat.lo
nrn/mod/x86_64/cat.mod
nrn/mod/x86_64/cat_a.c
nrn/mod/x86_64/cat_a.lo
nrn/mod/x86_64/cat_a.mod
nrn/mod/x86_64/gabaa.c
nrn/mod/x86_64/gabaa.lo
nrn/mod/x86_64/gabaa.mod
nrn/mod/x86_64/ggap.c
nrn/mod/x86_64/ggap.lo
nrn/mod/x86_64/ggap.mod
nrn/mod/x86_64/iclamp_const.c
nrn/mod/x86_64/iclamp_const.lo
nrn/mod/x86_64/iclamp_const.mod
nrn/mod/x86_64/k2.c
nrn/mod/x86_64/k2.lo
nrn/mod/x86_64/k2.mod
nrn/mod/x86_64/ka.c
nrn/mod/x86_64/ka.lo
nrn/mod/x86_64/ka.mod
nrn/mod/x86_64/ka_ib.c
nrn/mod/x86_64/ka_ib.lo
nrn/mod/x86_64/ka_ib.mod
nrn/mod/x86_64/kahp.c
nrn/mod/x86_64/kahp.lo
nrn/mod/x86_64/kahp.mod
nrn/mod/x86_64/kahp_deeppyr.c
nrn/mod/x86_64/kahp_deeppyr.lo
nrn/mod/x86_64/kahp_deeppyr.mod
nrn/mod/x86_64/kahp_slower.c
nrn/mod/x86_64/kahp_slower.lo
nrn/mod/x86_64/kahp_slower.mod
nrn/mod/x86_64/kc.c
nrn/mod/x86_64/kc.lo
nrn/mod/x86_64/kc.mod
nrn/mod/x86_64/kc_fast.c
nrn/mod/x86_64/kc_fast.lo
nrn/mod/x86_64/kc_fast.mod
nrn/mod/x86_64/kdr.c
nrn/mod/x86_64/kdr.lo
nrn/mod/x86_64/kdr.mod
nrn/mod/x86_64/kdr_fs.c
nrn/mod/x86_64/kdr_fs.lo
nrn/mod/x86_64/kdr_fs.mod
nrn/mod/x86_64/km.c
nrn/mod/x86_64/km.lo
nrn/mod/x86_64/km.mod
nrn/mod/x86_64/mod_func.c

nrn/mod/x86_64/naf.c
nrn/mod/x86_64/naf.lo
nrn/mod/x86_64/naf.mod
nrn/mod/x86_64/naf2.c
nrn/mod/x86_64/naf2.lo
nrn/mod/x86_64/naf2.mod
nrn/mod/x86_64/naf_tcr.c
nrn/mod/x86_64/naf_tcr.lo
nrn/mod/x86_64/naf_tcr.mod
nrn/mod/x86_64/nap.c
nrn/mod/x86_64/nap.lo
nrn/mod/x86_64/nap.mod
nrn/mod/x86_64/napf.c
nrn/mod/x86_64/napf.lo
nrn/mod/x86_64/napf.mod
nrn/mod/x86_64/napf_spinstell.c
nrn/mod/x86_64/napf_spinstell.lo
nrn/mod/x86_64/napf_spinstell.mod
nrn/mod/x86_64/napf_tcr.c
nrn/mod/x86_64/napf_tcr.lo
nrn/mod/x86_64/napf_tcr.mod
nrn/mod/x86_64/par_ggap.c
nrn/mod/x86_64/par_ggap.lo
nrn/mod/x86_64/par_ggap.mod
nrn/mod/x86_64/pulsesyn.c
nrn/mod/x86_64/pulsesyn.lo
nrn/mod/x86_64/pulsesyn.mod
nrn/mod/x86_64/rampsyn.c
nrn/mod/x86_64/rampsyn.lo
nrn/mod/x86_64/rampsyn.mod
nrn/mod/x86_64/rand.c
nrn/mod/x86_64/rand.lo
nrn/mod/x86_64/rand.mod
nrn/mod/x86_64/ri.c
nrn/mod/x86_64/ri.loT
nrn/mod/x86_64/ri.mod
nrn/mod/x86_64/traub_nmda.mod
nrn/mod/mod.txt
nrn/mydata/Vm.dat
nrn/mydata/tcr.dat

nrn/x86_64/.libs/alphasyndiffeq.o
nrn/x86_64/.libs/alphasynkin.o
nrn/x86_64/.libs/alphasynkint.o
nrn/x86_64/.libs/ampa.o
nrn/x86_64/.libs/ar.o
nrn/x86_64/.libs/cad.o
nrn/x86_64/.libs/cal.o
nrn/x86_64/.libs/cat.o
nrn/x86_64/.libs/cat_a.o
nrn/x86_64/.libs/gabaa.o
nrn/x86_64/.libs/ggap.o
nrn/x86_64/.libs/iclamp_const.o
nrn/x86_64/.libs/k2.o
nrn/x86_64/.libs/ka.o
nrn/x86_64/.libs/ka_ib.o
nrn/x86_64/.libs/kahp.o
nrn/x86_64/.libs/kahp_deeppyr.o
nrn/x86_64/.libs/kahp_slower.o
nrn/x86_64/.libs/kc.o
nrn/x86_64/.libs/kc_fast.o
nrn/x86_64/.libs/kdr.o
nrn/x86_64/.libs/kdr_fs.o
nrn/x86_64/.libs/km.o
nrn/x86_64/.libs/libnrnmech.la
nrn/x86_64/.libs/libnrnmech.lai
nrn/x86_64/.libs/libnrnmech.so
nrn/x86_64/.libs/libnrnmech.so.0
nrn/x86_64/.libs/libnrnmech.so.0.0.0
nrn/x86_64/.libs/mod_func.o
nrn/x86_64/.libs/naf.o
nrn/x86_64/.libs/naf2.o
nrn/x86_64/.libs/naf_tcr.o
nrn/x86_64/.libs/nap.o
nrn/x86_64/.libs/napf.o
nrn/x86_64/.libs/napf_spinstell.o
nrn/x86_64/.libs/napf_tcr.o
nrn/x86_64/.libs/par_ggap.o
nrn/x86_64/.libs/pulsesyn.o
nrn/x86_64/.libs/rampsyn.o
nrn/x86_64/.libs/rand.o
nrn/x86_64/.libs/ri.o
nrn/x86_64/.libs/traub_nmda.o
nrn/x86_64/*.inc
nrn/x86_64/alphasyndiffeq.c
nrn/x86_64/alphasyndiffeq.lo
nrn/x86_64/alphasyndiffeq.mod
nrn/x86_64/alphasynkin.c
nrn/x86_64/alphasynkin.lo
nrn/x86_64/alphasynkin.mod
nrn/x86_64/alphasynkint.c
nrn/x86_64/alphasynkint.lo
nrn/x86_64/alphasynkint.mod
nrn/x86_64/ampa.c

nrn/x86_64
nrn/x86_64/ampa.lo
nrn/x86_64/ampa.mod
nrn/x86_64/ar.c
nrn/x86_64/ar.lo
nrn/x86_64/ar.mod
nrn/x86_64/cad.c
nrn/x86_64/cad.lo
nrn/x86_64/cad.mod
nrn/x86_64/cal.c
nrn/x86_64/cal.lo
nrn/x86_64/cal.mod
nrn/x86_64/cat.c
nrn/x86_64/cat.lo
nrn/x86_64/cat.mod
nrn/x86_64/cat_a.c
nrn/x86_64/cat_a.lo
nrn/x86_64/cat_a.mod
nrn/x86_64/gabaa.c
nrn/x86_64/gabaa.lo
nrn/x86_64/gabaa.mod
nrn/x86_64/ggap.c
nrn/x86_64/ggap.lo
nrn/x86_64/ggap.mod
nrn/x86_64/iclamp_const.c
nrn/x86_64/iclamp_const.lo
nrn/x86_64/iclamp_const.mod
nrn/x86_64/k2.c
nrn/x86_64/k2.lo
nrn/x86_64/k2.mod
nrn/x86_64/ka.c
nrn/x86_64/ka.lo
nrn/x86_64/ka.mod
nrn/x86_64/ka_ib.c
nrn/x86_64/ka_ib.lo
nrn/x86_64/ka_ib.mod
nrn/x86_64/kahp.c
nrn/x86_64/kahp.lo
nrn/x86_64/kahp.mod
nrn/x86_64/kahp_deeppyr.c
nrn/x86_64/kahp_deeppyr.lo
nrn/x86_64/kahp_deeppyr.mod
nrn/x86_64/kahp_slower.c
nrn/x86_64/kahp_slower.lo
nrn/x86_64/kahp_slower.mod
nrn/x86_64/kc.c
nrn/x86_64/kc.lo
nrn/x86_64/kc.mod
nrn/x86_64/kc_fast.c
nrn/x86_64/kc_fast.lo
nrn/x86_64/kc_fast.mod
nrn/x86_64/kdr.c
nrn/x86_64/kdr.lo
nrn/x86_64/kdr.mod
nrn/x86_64/kdr_fs.c
nrn/x86_64/kdr_fs.lo
nrn/x86_64/kdr_fs.mod
nrn/x86_64/km.c
nrn/x86_64/km.lo
nrn/x86_64/km.mod
nrn/x86_64/libnrnmech.la
nrn/x86_64/mod_func.c
nrn/x86_64/mod_func.lo
nrn/x86_64/naf.c
nrn/x86_64/naf.lo
nrn/x86_64/naf.mod
nrn/x86_64/naf2.c
nrn/x86_64/naf2.lo
nrn/x86_64/naf2.mod
nrn/x86_64/naf_tcr.c
nrn/x86_64/naf_tcr.lo
nrn/x86_64/naf_tcr.mod
nrn/x86_64/nap.c
nrn/x86_64/nap.lo
nrn/x86_64/nap.mod
nrn/x86_64/napf.c
nrn/x86_64/napf.lo
nrn/x86_64/napf.mod
nrn/x86_64/napf_spinstell.c
nrn/x86_64/napf_spinstell.lo
nrn/x86_64/napf_spinstell.mod
nrn/x86_64/napf_tcr.c
nrn/x86_64/napf_tcr.lo
nrn/x86_64/napf_tcr.mod
nrn/x86_64/par_ggap.c
nrn/x86_64/par_ggap.lo
nrn/x86_64/par_ggap.mod
nrn/x86_64/pulsesyn.c
nrn/x86_64/pulsesyn.lo
nrn/x86_64/pulsesyn.mod
nrn/x86_64/rampsyn.c
nrn/x86_64/rampsyn.lo
nrn/x86_64/rampsyn.mod
nrn/x86_64/rand.c
nrn/x86_64/rand.lo
nrn/x86_64/rand.mod
nrn/x86_64/ri.c
nrn/x86_64/ri.lo
nrn/x86_64/ri.mod
nrn/x86_64/special
nrn/x86_64/traub_nmda.c
nrn/x86_64/traub_nmda.lo
nrn/x86_64/traub_nmda.mod
py/g77traub
py/g77traub/colossusnodes
py/g77traub/colossusnodes_fastmachines
py/g77traub/colossusnodes_slowmachines
py/g77traub/comp_int
py/g77traub/compile_integration
py/g77traub/dexptablebig_setup.f
py/g77traub/dexptablesmall_setup.f
py/g77traub/durand.f
py/g77traub/fnmda.f
py/g77traub/groucho.f
py/g77traub/groucho_gapbld.changed.f
py/g77traub/groucho_gapbld.f
py/g77traub/groucho_gapbld_mix.f
py/g77traub/groucho_mpif77.f
py/g77traub/groucho_nogettime.f
py/g77traub/groucho_nogettime_mpi.f
py/g77traub/groucho_nogettime_suppyrRS.f
py/g77traub/integrate_deepLTS.f
py/g77traub/integrate_deepaxax.f
py/g77traub/integrate_deepbask.f
py/g77traub/integrate_nRT.f
py/g77traub/integrate_nontuftRS.f
py/g77traub/integrate_spinstell.f
py/g77traub/integrate_supLTS.f
py/g77traub/integrate_supaxax.f
py/g77traub/integrate_supbask.f
py/g77traub/integrate_suppyrFRB.f
py/g77traub/integrate_suppyrRS.f
py/g77traub/integrate_tcr.f
py/g77traub/integrate_tuftIB.f
py/g77traub/integrate_tuftRS.f
py/g77traub/job
py/g77traub/job1
py/g77traub/makefile
py/g77traub/readme.txt
py/g77traub/run_groucho.sh
py/g77traub/synaptic_compmap_construct.f
py/g77traub/synaptic_map_construct.f
py/g77traub/tmp
py/g77traub/trap_and_handle_fpe.c
py/g77traub/trapfpe.c
py/g77traub/write_groucho_gapbld.f
py/g77traub/write_groucho_gapbld_mix.f
py/g77traub/write_synaptic_compmap_construct.f
py/g77traub/write_synaptic_map_construct.f
py/_moose.so
py/_moose.so.20100413
py/_moose.so.20100414
py/auto_out
py/benchmark_cell.py
py/copy.txt
nrn/ampa.plot
